body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;

    background-image: url("ae20481fdf4dca85142c6e7c51284c8c.webp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 90%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: auto;
}

p {
    color: #d8d8d8;
    font-size: 18px;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.card {
    background: rgba(20,20,20,0.85);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}
